.answers {
  background: black;
  padding: 90px 20px 29px;
}
.answer-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #0c334b;
  margin-bottom: 13px;
  border-radius: 5px;
}

.answer-header {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    color: white;
    font-family: "Barlow";
    font-style: italic;
  }
  button {
    margin-left: auto;
    background: transparent;
    border: none;
    img {
      margin-right: 0;
    }
  }
}

.answer-content {
  padding-left: 0px;
  text-align: left;
  transition: all, 0.4s;
  p {
    color: white;
  }
}

.answer-list {
  width: 90%;
  margin: auto;
}

//More component style
.answer-more {
  border: 2px solid black;
  padding: 0px 180px 40px 180px;
  background: black;
  color: white;
  margin-top: -1px;
  @media screen and (max-width:1024px) {
    padding-left: 130px;
    padding-right: 130px;
  }
  @media screen and (max-width:768px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media screen and (max-width:576px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .kid-image {
    width: 271px;
    margin: 17.3px;
    height: 80%;
    @media screen and (max-width: 400px) {
      width: 100%;
      margin: 0;
    }
  }
  .answer-more-kid {
    padding: 10%;
    background: #0c334b;
    width: 50%;
    margin: 37px auto;
    font-size: 30px;
    font-weight: 800;
    font-family: "BarlowBold";
    color: #4180a1;
    @media screen and (max-width: 488px) {
      font-size: 20px;
    }
    @media screen and (max-width: 356px) {
      font-size: 15px;
    }
  }
  h3 {
    font-size: 30px;
    font-weight: 800;
    font-family: "BarlowBold";
    color: #4180a1;
    margin-bottom:37.67px;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    font-family: "Barlow";
    span {
      font-weight: 700;
      color: #4180a1;
      font-style: italic;
      font-family: 'BarlowBold';
    }
  }
}
