.menu-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 4;
}
.close-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 4;
}
@media screen and (max-width: 568px) {
  .menu-icon, .close-icon {
    left: 25px
  }
}
.menu {
  z-index: 4;
  position: absolute;
  left: 125px;
  bottom: calc(50% - 50px);
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #0c3d5b;
  border-radius: 5px;
  padding: 20px 24px;
  box-sizing: border-box;
  transition: all 1s ease;
  a {
    padding: 3.5px 0px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Barlow";
    text-decoration: none;
  }
}
