.read-more {
  display: flex;
  flex-direction: row;
  background: black;
  padding: 180px 10%;
  z-index: 1;
  position: relative;
  .read-more-description {
    flex: 1;
    color: white;
    padding: 0 60px;
    text-align: left;
  }
  .read-more-images {
    flex: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    div {
      width: 200px;
      border-radius: 5px;
      p {
        background: #0c3d5b;
        color: white;
        border-radius: 5px;
        margin-top: 4px;
        padding: 4px;
        font-family: "Barlow";
        font-size: 18px;
        font-weight: 700;
      }
      img {
        width: inherit;
        border-radius: 5px;
      }
    }
  }
}
