@import "./mixins.scss";
.read-more {
  display: flex;
  flex-direction: row;
  background: black;
  padding: 180px 128px 124px 180px;
  z-index: 1;
  position: relative;
  @media screen and (max-width:935px){
    padding-left: 90px;
    padding-right: 90px;
  }
  @media screen and (max-width:815px){
    padding-left: 70px;
    padding-right: 70px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-top: 80px;
  }
  .read-more-description {
    flex: 1;
    color: white;
    padding: 0px;
    padding-right: 52px;
    text-align: left;
    h1 {
      margin-top: 0;
      line-height: 57.6px;
      margin-bottom: 18.68px;
      font-family: 'BarlowBold';
      font-weight: 800;
    }
    p{
      font-size: 20px;
      font-weight: 600;
      font-family: 'Barlow';
    }
    @media screen and (max-width: 768px) {
      padding: 30px 20px;
    }
    @media screen and (max-width: 320px) {
      padding: 0 20px;
    }
    .gift-video {
      width: 100%;
    }
  }
  .read-more-images {
    flex: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    height: 0px;
    @media screen and (max-width: 1160px) {
      grid-template-columns: auto auto;
      justify-content: center;
    }
    @media screen and (max-width: 506px) {
      grid-template-columns: auto;
      flex: 1;
      justify-content: center;
    }
    div {
      width: 200px;
      border-radius: 5px;
      p {
        background: #0c3d5b;
        color: white;
        border-radius: 5px;
        margin-top: 4px;
        padding: 4px;
        font-family: "Barlow";
        font-size: 18px;
        font-weight: 700;
      }
      img {
        width: inherit;
        border-radius: 5px;
        &:hover{
          box-shadow: 0px 0px 40px 1px #5c5b5f54;
        }
      }
    }
  }
}
