.terms-header {
  background-image: url(../assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 100px 10%;
  color: white;
}
.terms-list-container {
  text-align: left;
}
.terms-content {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 20%;
}
